html {
    background-color: #e8e7e8;
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent; 
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, .footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
    
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

iframe {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

ul a {
    padding: 0;
    margin: 0;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
}

#body {
    background-color: transparent;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }

#header {
    background-color: transparent;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: white; 
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: white;
    outline: none;
    text-decoration: none;
}

/* menu
----------------------------------------------------------*/
#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0; 
    padding: 0;
    text-align: center;
    table-layout: fixed;
    height: 55px;
}

    #menu td {
        padding-left: 15px;
        padding-right: 15px;
        align-content: space-between;
    }

        #menu td a {
            background: none;
            color: white; 
            text-decoration: none;
        }

        #menu td a:hover {
            color: #333;
            text-decoration: none;
        }

        #menu td.active {
            background-color: #696969;   
        }

#menu a {
    vertical-align: central;
}

#header .float-right {
    padding: 0;
}

#header .content-wrapper {
    padding: 0 40px 0 40px;
    background-color: #99c;
}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: transparent;
}

    .featured .content-wrapper {
        background-color: #696969;
        color: #fff;
        padding: 10px 40px 15px 40px;
    }

        .featured .content-wrapper a {
            color: #fff;
        }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

    .featured p.summary {
        font-size: 1.5em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.setting {
    list-style-type: none;
    padding-left: 0;
}

    ol.setting li {
        margin: 25px 0;
        padding-left: 45px;
    }


/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

.term-value-list {
    width: 300px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    padding: 2px;
    /*background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;*/
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        padding: 5px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

    .newSetting {
        width: 100%;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.radioDescription {
    margin-left: 30px;
}


/* Images
----------------------------------------------------------*/

img.setting {
    margin: 10px 5px;
    max-height: 50px;
    float: left;
}

.setting-content {
    background-color: #fcfdfc;
    margin: 10px 0px auto;
    padding: 5px 30px 15px 30px;
}

.setting-content h2 {
    /*font-size: 20px;*/
}
.setting-content ul {
    margin-top: 5px;
    padding-left: 20px;
}

.setting-content ul li {
    margin-bottom: 1px;
}

.setting-content ul li ul {
    margin: 2px;
}



/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0em .2em .25em 0em;
    border: none; 
    /*border: 1px solid black;*/
}

table.setting tr td {
    height: 36px
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

input.settingEntry {
    padding: 2px;
    width: 100%;
}

img {
    padding: 0;
}

img.statusFail img.statusSuccess {
    display: none;
}

img.statusFail, img.statusNone, img.statusSuccess {
    padding: 0 2px 0 5px;
}

table.setting td {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
}


div.center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Footer
 *  To keep it at the bottom of the page
 *--------------------------------------------*/
/** {
    margin: 0;
}*/



footer {
    clear: both;
    background-color: #dbdbdb;
    font-size: .8em;
    height: 100px;
    bottom: 0px;
    width: 100%;
}

footer div {
    padding: 10px;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 900px) {

    /* header
    ----------------------------------------------------------*/
    #header .float-left,
    #header .float-right {
        float: none;
        margin: 0px auto;
    }

    /* logo */
    #header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    #menu {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

        #menu tr {
            margin: 0;
            padding: 0;
        }

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input[type=text] {
        width: 90%;
    }

    img.status {
        padding: 0;
        border: 0;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
    }

    footer div {
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


@media only screen and (max-width: 600px) {
    
    img.setting {
        display: none;
    }

    .term-value-list {
        width: 250px;
    }

}


/*!
 * Bootstrap v3.0.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}.alert h4{margin-top:0;color:inherit;}
.alert .alert-link{font-weight:bold;}
.alert>p,.alert>ul{margin-bottom:0;}
.alert>p+p{margin-top:5px;}
.alert-dismissable{padding-right:35px;}.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}.alert-success hr{border-top-color:#c9e2b3;}
.alert-success .alert-link{color:#356635;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}.alert-info hr{border-top-color:#a6e1ec;}
.alert-info .alert-link{color:#2d6987;}
.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#c09853;}.alert-warning hr{border-top-color:#f7e1b5;}
.alert-warning .alert-link{color:#a47e3c;}
.alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#b94a48;}.alert-danger hr{border-top-color:#e4b9c0;}
.alert-danger .alert-link{color:#953b39;}
